html,body {
    font-family: "Inter", Arial;
    margin: 0;
}

img {
    display: block;
    height: auto;
    width: 100px;
    margin: 10px;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation img{
    width: 48px;
    height: 48px;
}

.navigation a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 45px;
    transition: all 0.3s ease; 
}
.navigation a:hover{
    color: black;
}

.button {
    background-color: #5B20C7;
    color: white;
    border-radius: 8px;
    padding: 4px 24px;
}

.film{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    position: relative;
    gap: 200px;
}

.teks{
    max-width: 500px;
}

button{
    background-color: #5B20C7;
    color: white;
    padding: 14px 28px;
    border: none;
    border-radius: 15px;
    transition: all 0.3s ease;
}

button:hover{
    color: #5B20C7;
    background-color: white;
}

.gbr-kanan {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-kanan {
  position: relative;
  width: 450px;
  height: auto;
  border-radius: 50px;
}